**/.git
**/.gitignore
**/.vscode
**/coverage
**/.env
**/.aws
**/.ssh
#Dockerfile
README.md
**/.DS_Store
**/venv
**/env
./venvcreds.txt
__pycache__
src/test_folder
src/helpers/__pycache__
src/model/__pycache__