**/.git
**/.gitignore
**/.vscode
**/coverage
**/.env
**/.aws
**/.ssh
#Dockerfile
README.md
**/.DS_Store
**/venv
**/env
./venvcreds.txt
__pycache__
.pytest_cache
.vscode
vsn_nw/test_folder
vsn_nw/helpers/__pycache__
vsn_nw/model/__pycache__
vsn_nw/static/images/VSN_back1.jpeg
vsn_nw/static/images/VSN_back2.jpeg
test.py
legacy_items
educative_aks_host
misc
zks_aks_host