/vsn_nw/venvcreds.txt
__pycache__
.vscode
docker-compose-dev.yaml
../.DS_Store
.DS_Store
VSN.txt
test.py
.ipynb_checkpoints
vsn_nw/__pycache__
model/__pycache__
vsn_nw/tests
.pytest_cache
vsn_nw/build
vsn_nw/dist
vsn_nw/helpers.egg*
setup.py
vsn_nw/test_folder/.pytest_cache
Makefile
zaks_aks_host/deployment.yaml
/vsn_nw/templates/legacy_home.html
vsn_nw/static/images/VSN_back1.jpeg
vsn_nw/static/images/VSN_back2.jpeg
vsn_nw/test.py
legacy_items
educative_aks_host
misc