/src/venvcreds.txt
__pycache__
.vscode
docker-compose-dev.yaml
../.DS_Store
.DS_Store
VSN.txt
test.py
.ipynb_checkpoints
src/__pycache__
model/__pycache__
abc.py
create_pod.yaml
create_deployment.yml
create_service.yml
src/tests
.pytest_cache
src/build
src/dist
src/helpers.egg*
setup.py
src/test_dolder/.pytest_cache
Makefile