<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>

    <div class="panel panel-info">
        <div class="panel-heading"><h2>About this App.</h2></div>
    <div class="panel-body">Thank you for interest in using our app. This app is used to predict next word
        , based on some part of sentence, from holy text <a> Vishnu Sahasranamam. </a>

        Input to this app must be in english script ( alphabets ) but with sanskrit meaning.
        This app uses NLP and deep learning to predict the next word in real-time.
    </div> <!-- Panel Body with paragraph ends here-->

    </div> <!--About Div ends here-->

    <!-- Examples Div must be a list of tags-->
    <div class="panel panel-primary">
        <div class="panel-heading"><h2>Examples of Using this App</h2></div>
        
        <ul class="list-group">
          <li class="list-group-item">1. Input a <mark>single sentence</mark>
            
            <p class="font-weight-bold">īśānaḥ prāṇadaḥ prāṇo</p>
          </li> <!-- First List Item-->
          <li class="list-group-item">2. Input <mark>more than one</mark> sentence 
            
            <p class="font-weight-bold">īśānaḥ prāṇadaḥ prāṇo | bhū-garbho mādhavo</p>
          </li> <!--Second List Item closes-->

          <li class="list-group-item">Third item</li>
        </ul> <!-- Unordered List closes -->
      </div> <!-- Examples Div Closes-->


</body>

</html>