<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Welcome to VSN Next Word Predictor_/\_</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script 
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
    </script>

    <script 
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js">
    </script>

    <script 
    src="https://code.jquery.com/jquery-3.4.1.min.js">
    </script>

    <script 
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
    </script>

    <script 
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    </script>

    <script 
    src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
    </script>

    <script 
    src="//code.jquery.com/jquery-1.11.1.min.js">
    </script>

    <!-- Custom CSS -->
    <link 
    href="{{ url_for('static', path='/css/style.css') }}"
    rel="stylesheet">

    <link 
    rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    
    <style>
        .bcontent {
            margin-top: 10px;
        }
    </style>

</head>

    <body style="height: 1200px;">

        <!--Navbar for other page links-->
        <div class="container">
            <h3>AI Next Word Predictor</h3>
            <ul class="nav nav-tabs">
              <li class="active">
                <a href= "{{ url_for('get_usage_page') }}"   >
                    How to Use App
                </a>
            </li>
            </ul>
            <br>
          </div>
          <br><br><br>

        <!--Container to display search bar form-->
        <div class="container-fluid bcontent">
            <!-- <h2>Please provide Input Shlokas</h2> -->
           
            <form method="post">
                <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label"><strong>Shloka(s): </strong></label>
                    <div class="input-group">
                        <!--Actual input to model-->
                        <input type="text" class="form-control" name = "vsn_inp" size=108 placeholder="Enter each Shloka separated by '|''"> 
                        
                        <div class="input-group-btn">
                          <button class="btn btn-primary" type="submit">
                            <i class="glyphicon"> Predict-Next-Word(s) !</i>
                          </button>
                        </div> <!--Input group button ends-->

                      </div> <!--Input group ends-->

                </div> <!--from group row div ends here -->
                

                
            </form>

        </div> <!-- Top Div ends here -->
    
    
    
    </body>

</html>