body {
  background-image: url('../images/VSNBack2.png');
  background-repeat: no-repeat;
  background-size: cover;
}



.top-div { 
    height: 200px;
    position: relative;
  
  }
  
.mid-div {
margin-top: 50px;
margin-left: 500px;
position: absolute;
top: 50%;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
border: 3px solid green; 
}

#subbut {
  position:absolute; 
  margin-top:90px;
  margin-left:-50px;
  left:50%;
  
  bottom:0px;
}

